* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.draggable-elements {
  width: 100%;
  display: flex;
}
.draggable {
  width: 50px;
  height: 50px;
  background: rgba(180, 180, 180, 0.547);
  border-radius: 10px;
  border: 1px solid rgb(14, 13, 13);
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
  cursor: move;
}
.draggable:hover{
    opacity: .5;
}

hr {
  margin: 10px 0;
}

.droppabel-elements {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.droppable {
  width:70px;
  height: 70px;
  border: 3px dotted rgb(14, 13, 13);
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: auto;
  transition: border-width .2s, transform .2s, background-color .2s;
}
span{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

}
.droppable.droppable-hover{
    border-width: 5px;
    transform: scale(1.1);

}
.droppable.dropped{
    border-style: solid;
    color: white;
    pointer-events: none;

}

.draggable.dragged{
    user-select: none;
    opacity: .1;
    cursor:default
}

